jobs:

- job: Linux
  timeoutInMinutes: 0

  pool:
    vmImage: 'Ubuntu-16.04'

  steps:
  - script: wget https://nightly.tlapl.us/dist/tla2tools.jar
    displayName: Get (nightly) TLC
  - script: |
      set MYVAR=foo
      set
    displayName: Set a variable and then display all
    env:
      aVarFromYaml: someValue
  - script: java -Dtlc2.TLC.stopAfter=1800 -jar tla2tools.jar -workers 2 -checkpoint 60 -coverage 60 -tool MC.tla
    displayName: Run TLC
